@{
    ViewBag.Title = "Contact";
}
<h3>Serviço de Atendimento </h3>

<address>
    Michael Dougas de Campos<br />
</address>

<address>
    <strong>Email:</strong>   michael.dc.ufsj@gmail.com<br />
</address>