
@{
    ViewBag.Title = "Index";
}

<h2>Seleção de Serviços</h2>
<input type="button" value="Menu de Livros" onclick="@("window.location.href='" + @Url.Action("Index", "Livros") + "'");" />
<input type="button" value="Menu de Usuarios" onclick="@("window.location.href='" + @Url.Action("Index", "Usuarios") + "'");" />
